@use "./colors.scss" as *;
@use "./misc.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4em;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 90px;
    .nav-link {
        text-decoration: none;
        color: #000;
    }

    .logout-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
    }
}

section.form {
    margin: 0 auto;
    padding: 2em 3em;
    background-color: rgb(41, 38, 38);
    color: #fefefe;
    border-radius: $radius;
    width: 42%;
    h3 {
        margin: 0 0 30px 0;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        .form-group {
            height: 36px;
            input {
                font-size: $font-s;
                height: 100%;
                width: 100%;
                padding: 0.25em 0.5em;
                border: none;
                border-radius: $radius;
            }
            input.errorField {
                border: 1.5px solid rgb(200, 43, 43);
            }
        }

        .form-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
        }
    }
}

section.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    section.todos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-items: center;

        article.todo {
            background-color: $gray-0;
            position: relative;
            border: 2px solid $gray-400;
            border-radius: $radius;
            padding: 2em;
            width: 270px;

            &:hover {
                .todoActions {
                    display: block !important;
                }
            }

            .todoText {
                font-size: $font-m;
                font-weight: 600;
            }

            .todoActions {
                display: none !important;
                position: absolute;
                top: 6px;
                right: 3px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                .btn {
                    height: 26px;
                    padding: 0 0.6em;
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    section.form {
        position: relative;
        .tertiary-btn {
            position: absolute;
            top: 6px;
            right: 3px;
            color: $red-600;
            &:hover {
                color: $red-800;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    section.form {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    section.form {
        width: 100%;
    }

    section.dashboard {
        section.todos {
            justify-items: center;
            gap: 20px;
        }
    }
}
